body{
     background-image: url("blob:https://outlook.office.com/10c00e83-465a-465d-ba83-c5490be5c023");
     background-color: rgba(0, 27, 255,1);
 }
 .card{
     height:200px;
     width:200px;
     margin:10px;
     background-color: black;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     position: relative;
     left:60px;
     top:50px;
     border-color: #ffe400;
     border-radius: 50%;
     border-style:solid;
     border-width:5px;
     transition: transform .2s;
     color: aliceblue;
     text-align: center;
 }
 .card:hover{
     transform: scale(1.5);
     z-index: 2;
     box-shadow: 10px 10px 5px black;
 }